@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
}

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.login-header {
    display: flex;
    padding: 10px 29px;
    background: transparent url('assets/header\ pattern\ svg.svg') 0% 0% no-repeat padding-box;
    background-size: cover;
    background-color: #25313F;
    mix-blend-mode: overlay;
    opacity: 1;
}

.login-header > img {
    width: 134px;
    height: 36px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    height: calc(100% - 56px - 74px);
}

.login-card {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 500px;
    padding: 20px 32px;
    background-color: white;
    border-top: 5px solid rgb(54, 180, 230);
}

.login-card .header {
    align-self: center;
    text-align: center;
    position: relative;
}

.login-card .school-type {
    margin-top: 34px;
    margin-bottom: 30px;
}

.login-card .header, .school-type{
    display: flex;
    gap: 32px;
}

.login-card .header .back-button {
    position: absolute;
    size: 28px;
    color: #1F7A54;
    left: -115px;
    bottom: 3px;
}

.login-card .header .title {
    font-size: 28px;
    text-align: center;
}

.login-card .school-type .flex .radio-button {
    accent-color: #1F7A54;
    width: 20px;
    height: 24px;
}

.login-card .school-type .flex .radio-button-label {
    font-size: 20px;
    color: #333333;
    margin-left: 5px;
}

.login-card .dropdown .title {
    font-size: 16px;
    color: #666666;
}

.login-card .dropdown > select {
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid #999999;
    color: #222222;
}

.login-card .dropdown-margin{
    margin-top: 36px;
    margin-bottom: 56px;
}

.login-card .text-field-container .text-field{
    outline: none;
    border: none;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    border-bottom: 1px solid #999999;
    color: #666666;
}

.login-card .text-field-container .forgot-link{
    font-size: 18px;
    color: #1F7A54;
    text-transform: uppercase;
    text-align: right;
    text-decoration: none;
}

.login-card .text-field-container-margin {
    margin-top: 33px;
    margin-bottom: 30px;
}

.login-card .remember-me-container > input{
    width: 18px;
    height: 24px;
    accent-color: #1F7A54;
}

.login-card .remember-me-container > label{
    font-size: 20px;
    color: #222222;
    margin-left: 5px;
}

.login-card .remember-me-container {
    margin-bottom: 34px;
}

.login-card .flex .login-button {
    width: 215px;
    height: 40px;
    color: #1F2834;
    font-size: 18px;
    background-color: #3FD28B;
    box-shadow: 0px 3px 5px #0000003D;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    height: 74px;
    align-items: center;
    background-color: #EEEEEE;
}

.footer .links {
    height: 34px;
    color: #1F7A54;
    font-size: 18px;
    align-items: start;
}

.footer .footer-main {
    background-color: #E0E1E1;
    padding: 8px 0;
    height: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer .footer-main .footer-image {
    width: 90px;
    height: 24px;
}

.footer .footer-main .footer-content {
    color: #616161;
    font-size: 16px;
}

.footer .footer-main .vertical-line-16 {
    width: 0px;
    height: 24px;
    border-left: 1px solid #0000001F;
    margin: 0 16px;
}

.footer .footer-main .vertical-line-8 {
    width: 0px;
    height: 18px;
    border-left: 1px solid #0000001F;
    margin: 0 8px;
}